services:
  immudb:
    image: codenotary/immudb:latest
    container_name: immudb
    ports:
      - "3322:3322"
    volumes:
      - immudb-data:/var/lib/immudb
    environment:
      IMMUDB_DATA_DIR: "/var/lib/immudb"
      IMMUDB_AUTH: "true"

  api:
    build: .
    container_name: prop-cert-api
    depends_on:
      - immudb
    ports:
      - "3000:3000"
    env_file: .env
    environment:
      IMMUDB_HOST: immudb
      IMMUDB_PORT: 3322
      IMMUDB_USER: immudb
      IMMUDB_PASS: immudb
      IMMUDB_DB: defaultdb
      NODE_ENV: development
      API_KEY_SECRET: propcert_2025
    volumes:
      - .:/usr/src/app

volumes:
  immudb-data: